@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h4 class="text-justify my-2">Welcome! This web application is created as one of the components for the final project
    of the Advanced Management of Data WS2021/2022 course, to serve as the UI that provides clear visualisation and way of
    interaction between user and the PostgreSQL database.
    </h4>
    <hr />
    <p class="text-justify">This project is developed with <a href="https://docs.microsoft.com/en-us/aspnet/core/" target="_blank">ASP.NET Core </a>(.AspNetCore 5.0.0) using the MVC Web Application Template in Visual Studio,
    and uses these following dependencies/plugins/tech-stacks/etc: </p>
    <ul>
        <li><b>Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation (5.0.13)</b> as this webapp uses Razor templating engine</li>
        <li><a href="https://www.npgsql.org/" target="_blank"><b>Npgsql (6.0.3)</b></a> to access the PostgreSQL database server</li>
        <li><b>System.Configuration.ConfigurationManager (6.0.0)</b> to handles the configuration for the database connection</li>
        <li><a href="https://getbootstrap.com/" target="_blank"><b>Bootstrap v4.3.1</b></a> for styling purposes</li>
        <li><a href="https://jquery.com" target="_blank"><b>jQuery v3.5.1</b></a> as the javascript framework</li>
        <li><b><a href="https://datatables.net/" target="_blank">DataTables v1.10.2</a></b> for multi-features table</li>
        <li><b><a href="https://github.com/brianvoe/slim-select" target="_blank">Slim Select 1.27.1 </a></b> for better multi-select dropdown</li>
    </ul>
    <p>For more details regarding this project, please check out the term paper!</p>
</div>
